= sass :main
#header.container_12
	.grid_12
		%h1 Grabar Cheatsheet
	.clear
.container_12
	#TOC.grid_4.push_8
		%h3 Table of Contents
		%ol
			%li
				%a{:href=>"#noun_cases"} Noun Cases
			%li
				%a{:href=>"#pronouns"} Pronouns
				%ol
					%li
						%a{:href=>"#reflexive_intensive_pronouns"} Reflexive and Intensive Pronouns
					%li
						%a{:href=>"#possessive_pronouns"} Possessive Pronouns
			%li
				%a{:href=>"#prepositions"} Prepositions
			%li
				%a{:href=>"#verbs"} Verbs
			%li
				%a{:href=>"#glossary"} Glossary
		%h3 Legend
		%table
			%tr
				%td
					Nom.
				%td
					Nomative
				%td
					Ուղական
	.item.grid_8.pull_4
		%a{:name=>"noun_cases"}
		%h2 Noun Cases
		%table
			%tr.top
				%th
					%em Singular
				%th	year
				%th	word
				%th	sea
				%th	mouth
			%tr
				%th	Nom.
				%td	ամ
				%td բան
				%td ծով
				%td բերան
			%tr
				%th	Acc.
				%td	ամ
				%td բան
				%td ծով
				%td բերան
			%tr
				%th	Gen.
				%td	ամի
				%td բանի
				%td ծովու
				%td բերանոյ
			%tr
				%th	Dat.
				%td	ամի
				%td բանի
				%td ծովու
				%td բերանոյ
			%tr
				%th	Loc.
				%td	ամի
				%td բանի
				%td ծովու
				%td բերան
			%tr
				%th	Abl.
				%td	ամէ
				%td բանէ
				%td ծովէ
				%td բերանոյ
			%tr
				%th	Instr.
				%td	ամաւ
				%td բանիւ
				%td ծովու
				%td բերանով
		%table
			%tr.top
				%th
					%em Plural
				%th	year
				%th	word
				%th	sea
				%th	mouth
			%tr
				%th	Nom.
				%td	ամք
				%td բանք
				%td ծովք
				%td բերանք
			%tr
				%th	Acc.
				%td	ամս
				%td բանս
				%td ծովս
				%td բերանս
			%tr
				%th	Gen.
				%td	ամաց
				%td բանից
				%td ծովուց
				%td բերանոց
			%tr
				%th	Dat.
				%td	ամաց
				%td բանից
				%td ծովուց
				%td բերանոց
			%tr
				%th	Loc.
				%td	ամս
				%td բանս
				%td ծովս
				%td բերանս
			%tr
				%th	Abl.
				%td	ամաց
				%td բանից
				%td ծովից
				%td բերանոց
			%tr
				%th	Instr.
				%td	ամաւք
				%td բանիւք
				%td ծովուք
				%td բերանովք
	.clear
	.item.grid_8
		%a{:name=>"pronouns"}
		%h2 Pronouns
		%table.grid_3.alpha
			%tr.top
				%th
					%em Singular
			%tr
				%th	Nom.
				%td	այն
				%td 
				%td նա
				%td նոյն
			%tr
				%th	Acc.
				%td	այն
				%td 
				%td նա
				%td նոյն
			%tr
				%th	Gen.
				%td	այնր
				%td այնորիկ
				%td նորին
				%td նորին,նորուն
			%tr
				%th	Dat.
				%td	այնմ
				%td այնմիկ
				%td նմա
				%td նմին
			%tr
				%th	Loc.
				%td	այնմ
				%td այնմիկ
				%td նմա
				%td նմին
			%tr
				%th	Abl.
				%td	այնմ
				%td այնմանէ
				%td նմանէ
				%td նմին
			%tr
				%th	Instr.
				%td	այն
				%td այնուիկ
				%td նովաւ
				%td նովին,նովիմբ

		%table.grid_5.omega
			%tr.top
				%th
					%em Plural
			%tr
				%th	Nom.
				%td	այնք
				%td այնոքիկ
				%td նոքա
				%td նոքին,նոյնք
			%tr
				%th	Acc.
				%td	այնս
				%td այնոսիկ
				%td նոսա
				%td նոսին, նոյնս
			%tr
				%th	Gen.
				%td	այնց
				%td այնոցիկ
				%td նոցա
				%td նոցին, նոցունց
			%tr
				%th	Dat.
				%td	այնց
				%td այնոցիկ
				%td նոցա
				%td նոցին, նոցունց
			%tr
				%th	Loc.
				%td	այնս
				%td այնոսիկ
				%td նոսա
				%td նոսին, նոյնս
			%tr
				%th	Abl.
				%td	այնց, այնցանէ
				%td այնոցիկ
				%td նոցա, նոցանէ
				%td նոցին, նոցունց
			%tr
				%th	Instr.
				%td	այնուք
				%td այնոքիւք
				%td նոքաւք
				%td նոքիմբք, նոքումբք
		%p
			The declension of այս, այդ; սա, դա; սոյն, դոյն follows exactly the same pattern.
		%table.grid_3.alpha
			%tr.top
				%th
					%em Singular
			%tr
				%th	Nom.
				%td	ես
				%td դու
			%tr
				%th	Acc.
				%td	իս
				%td իմ
			%tr
				%th Gen.
				%td իմ
				%td քո
			%tr
				%th	Dat.
				%td	ինձ
				%td քեզ
			%tr
				%th	Loc.
				%td	իս
				%td քեզ
			%tr
				%th	Abl.
				%td	ինէն
				%td ինձէն
			%tr
				%th	Instr.
				%td	ինեւ
				%td քեւ
		%table.grid_3.omega
			%tr.top
				%th
					%em Plural
			%tr
				%th	Nom.
				%td	մեք
				%td դուք
			%tr
				%th	Acc.
				%td	մեզ
				%td ձեզ
			%tr
				%th Gen.
				%td մեր
				%td ձեր
			%tr
				%th	Dat.
				%td	մեզ
				%td ձեզ
			%tr
				%th	Loc.
				%td	մեզ
				%td ձեզ
			%tr
				%th	Abl.
				%td	մենջ, մեզեն
				%td ձենջ, ձեզեն
			%tr
				%th	Instr.
				%td	մեւք
				%td ձեւք
		.clear
		%a{:name=>"reflexive_intensive_pronouns"}
		%h3 Reflexive and Intensive Pronouns
		%table.grid_3.alpha
			%tr.top
				%th
				%th Singular
				%th Plural
			%tr
				%th Nom.
				%td &mdash;
				%td &mdash;
			%tr
				%th Acc.
				%td &mdash;
				%td Իւրեանս
			%tr
				%th Gen.
				%td Իւր
				%td Իւրեանց
			%tr
				%th Dat.
				%td Իւր
				%td Իւրեանց
			%tr
				%th Loc.
				%td Իւր
				%td իւրեանս
			%tr
				%th Abl.
				%td իւրմէ
				%td իւրեանց
			%tr
				%th Instr.
				%td իւրեւ, իւրեաւ, իւրեամբք
				%td իւրեմբք
		%table.grid_3.omega
			%tr.top
				%th
				%th Singular
				%th Plural
			%tr
				%th Nom.
				%td ինքն
				%td ինքեանք
			%tr
				%th Acc.
				%td ինքն
				%td ինքեանս
			%tr
				%th Gen.
				%td ինքեան
				%td ինքեանց
			%tr
				%th Dat.
				%td ինքեան
				%td ինքեանց
			%tr
				%th Loc.
				%td ինքեան
				%td ինքեանս
			%tr
				%th Abl.
				%td ինքենէ
				%td ինքեանց
			%tr
				%th Instr.
				%td ինքեամբ
				%td ինքեամբք
		.clear
		%a{:name=>"possessive_pronouns"}
		%h3 Possessive Pronouns
		%table.grid_4.alpha
			%tr.top
				%th Singular
				%th My
				%th Your
				%th His, Her (reflexive)
			%tr
				%th Nom.
				%td իմ
				%td քո
				%td իւր
			%tr
				%th Acc.
				%td իմ
				%td քո
				%td իւր
			%tr
				%th Gen.
				%td իմոյ
				%td քոյոյ, քոյ
				%td իրոյ
			%tr
				%th Dat.
				%td իմում
				%td քում
				%td իւրում
			%tr
				%th Loc.
				%td իմում
				%td քում
				%td իւրում
			%tr
				%th Abl.
				%td իմմէ
				%td քումէ
				%td իւրմէ
			%tr
				%th Instr.
				%td իմով
				%td քոյով
				%td իւրով
		%table.grid_4.omega
			%tr.top
				%th Plural
				%th My
				%th Your
				%th His, Her (reflexive)
			%tr
				%th Nom.
				%td իմբ
				%td քոյք
				%td իւր
			%tr
				%th Acc.
				%td իմս
				%td քոյս
				%td իւր
			%tr
				%th Gen.
				%td իմոց
				%td քոյոց, քոց
				%td իրոց
			%tr
				%th Dat.
				%td իմոց
				%td քուոց
				%td իւրոց
			%tr
				%th Loc.
				%td իմո
				%td քոյս
				%td իւրում
			%tr
				%th Abl.
				%td իմոց
				%td քոյոց
				%td իւրոց
			%tr
				%th Instr.
				%td իմովք
				%td քոյովք
				%td իւրովք
		%table.grid_4.omega
			%tr.top
				%th 
				%th Our
				%th Your (pl.)
				%th Their
			%tr
				%th Nom.
				%td մեր
				%td ձեր
				%td [իւրեանց]
			%tr
				%th Acc.
				%td մեր
				%td ձեր
				%td 
			%tr
				%th Gen.
				%td մերոյ
				%td ձերոյ
				%td 
			%tr
				%th Dat.
				%td մերում
				%td ձերում
				%td 
			%tr
				%th Loc.
				%td մերում
				%td ձերում
				%td 
			%tr
				%th Abl.
				%td մերմէ
				%td ձերմէ
				%td 
			%tr
				%th Instr.
				%td մերով
				%td ձերով
				%td 
	.clear
	.item.grid_8
		%a{:name=>"prepositions"}
		%h2 Prepositions
		%p INSERT
	.clear
	.item.grid_8
		%a{:name=>"verbs"}
		%h2 Verbs
		%p INSERT
	.clear
	.item.grid_8
		%a{:name=>"glossary"}
		%h2 Glossary
		%p Lorem ipsum...