= sass :main
.container_12
	#header.grid_12
		%h1 Krapar Cheatsheet
	.clear
	#TOC.grid_4.push_8
		%h3 Table of Contents
		%ol
			%li
				%a{:href=>"#noun_cases"} Noun Cases
			%li
				%a{:href=>"#pronouns"} Pronouns
			%li
				%a{:href=>"#possessive_pronouns"} Possessive Pronouns
			%li
				%a{:href=>"#prepositions"} Prepositions
			%li
				%a{:href=>"#verbs"} Verbs
	.item.grid_8.pull_4
		%a{:name=>"noun_cases"}
		%h2 Noun Cases
		%table
			%tr.top
				%th
					%em Singular
				%th	year
				%th	word
				%th	sea
				%th	mouth
			%tr
				%th	Nom.
				%td	ամ
				%td բան
				%td ծով
				%td բերան
			%tr
				%th	Acc.
				%td	ամ
				%td բան
				%td ծով
				%td բերան
			%tr
				%th	Gen.
				%td	ամի
				%td բանի
				%td ծովու
				%td բերանոյ
			%tr
				%th	Dat.
				%td	ամի
				%td բանի
				%td ծովու
				%td բերանոյ
			%tr
				%th	Loc.
				%td	ամի
				%td բանի
				%td ծովու
				%td բերան
			%tr
				%th	Abl.
				%td	ամէ
				%td բանէ
				%td ծովէ
				%td բերանոյ
			%tr
				%th	Instr.
				%td	ամաւ
				%td բանիւ
				%td ծովու
				%td բերանով
		%table
			%tr.top
				%th
					%em Plural
				%th	year
				%th	word
				%th	sea
				%th	mouth
			%tr
				%th	Nom.
				%td	ամք
				%td բանք
				%td ծովք
				%td բերանք
			%tr
				%th	Acc.
				%td	ամս
				%td բանս
				%td ծովս
				%td բերանս
			%tr
				%th	Gen.
				%td	ամաց
				%td բանից
				%td ծովուց
				%td բերանոց
			%tr
				%th	Dat.
				%td	ամաց
				%td բանից
				%td ծովուց
				%td բերանոց
			%tr
				%th	Loc.
				%td	ամս
				%td բանս
				%td ծովս
				%td բերանս
			%tr
				%th	Abl.
				%td	ամաց
				%td բանից
				%td ծովից
				%td բերանոց
			%tr
				%th	Instr.
				%td	ամաւք
				%td բանիւք
				%td ծովուք
				%td բերանովք
	.clear
	.item.grid_8
		%a{:name=>"pronouns"}
		%h2 Pronouns
		%table.grid_3.alpha
			%tr.top
				%th
					%em Singular
			%tr
				%th	Nom.
				%td	այն
				%td 
				%td նա
				%td նոյն
			%tr
				%th	Acc.
				%td	այն
				%td 
				%td նա
				%td նոյն
			%tr
				%th	Gen.
				%td	այնր
				%td այնորիկ
				%td նորին
				%td նորին,նորուն
			%tr
				%th	Dat.
				%td	այնմ
				%td այնմիկ
				%td նմա
				%td նմին
			%tr
				%th	Loc.
				%td	այնմ
				%td այնմիկ
				%td նմա
				%td նմին
			%tr
				%th	Abl.
				%td	այնմ
				%td այնմանէ
				%td նմանէ
				%td նմին
			%tr
				%th	Instr.
				%td	այն
				%td այնուիկ
				%td նովաւ
				%td նովին,նովիմբ

		%table.grid_5.omega
			%tr.top
				%th
					%em Plural
			%tr
				%th	Nom.
				%td	այնք
				%td այնոքիկ
				%td նոքա
				%td նոքին,նոյնք
			%tr
				%th	Acc.
				%td	այնս
				%td այնոսիկ
				%td նոսա
				%td նոսին, նոյնս
			%tr
				%th	Gen.
				%td	այնց
				%td այնոցիկ
				%td նոցա
				%td նոցին, նոցունց
			%tr
				%th	Dat.
				%td	այնց
				%td այնոցիկ
				%td նոցա
				%td նոցին, նոցունց
			%tr
				%th	Loc.
				%td	այնս
				%td այնոսիկ
				%td նոսա
				%td նոսին, նոյնս
			%tr
				%th	Abl.
				%td	այնց, այնցանէ
				%td այնոցիկ
				%td նոցա, նոցանէ
				%td նոցին, նոցունց
			%tr
				%th	Instr.
				%td	այնուք
				%td այնոքիւք
				%td նոքաւք
				%td նոքիմբք, նոքումբք
		%p
			The declension of այս, այդ; սա, դա; սոյն, դոյն follows exactly the same pattern
		%table.grid_3.alpha
			%tr.top
				%th
					%em Singular
			%tr
				%th	Nom.
				%td	ես
				%td դու
			%tr
				%th	Acc.
				%td	իս
				%td իմ
			%tr
				%th Gen.
				%td իմ
				%td քո
			%tr
				%th	Dat.
				%td	ինձ
				%td քեզ
			%tr
				%th	Loc.
				%td	իս
				%td քեզ
			%tr
				%th	Abl.
				%td	ինէն
				%td ինձէն
			%tr
				%th	Instr.
				%td	ինեւ
				%td քեւ
		%table.grid_3.omega
			%tr.top
				%th
					%em Plural
			%tr
				%th	Nom.
				%td	մեք
				%td դուք
			%tr
				%th	Acc.
				%td	մեզ
				%td ձեզ
			%tr
				%th Gen.
				%td մեր
				%td ձեր
			%tr
				%th	Dat.
				%td	մեզ
				%td ձեզ
			%tr
				%th	Loc.
				%td	մեզ
				%td ձեզ
			%tr
				%th	Abl.
				%td	մենջ, մեզեն
				%td ձենջ, ձեզեն
			%tr
				%th	Instr.
				%td	մեւք
				%td ձեւք
	.clear
	.item.grid_8
		%a{:name=>"possessive_pronouns"}
		%h2 Possessive Pronouns
		%p INSERT
	.clear
	.item.grid_8
		%a{:name=>"prepositions"}
		%h2 Prepositions
		%p INSERT
	.clear
	.item.grid_8
		%a{:name=>"verbs"}
		%h2 Verbs
		%p INSERT
	.clear