body
	:background-color #666
	:color #EEE
	:text-shadow #555 1px 1px 0px
a
	:color #66CCFF
	:text-decoration none
	&:hover
		:color #9CE8FF
	&:active
		:color #D3F0FF
#header
	:background-color #333
	:padding-top 1em
	:text-shadow #000 1px 1px 0px
	:margin-bottom 1.5em
	:-moz-border-radius-bottomright .5em
	:-webkit-border-bottom-right-radius .5em
	:-moz-border-radius-bottomleft .5em
	:-webkit-border-bottom-left-radius .5em
.item table
	tr.top th
		:font-weight 200
		:font-style italic
	th
		:text-align left
	th,td
		:padding-right 5px
.item table.prepositions
	th
		:color #FFFF66
		:font-size 2em
		:line-height 0.5em
		:text-align right
	td.plus
		:color #aaa
	td.plus + td
		:width 2em
		:font-style italic
	td.last
		:padding-bottom 20px